{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env" : {
    "node" : true ,
    "browser" : true,
    "mocha" : true,
    "jquery": true
  },
  "rules": {
        "no-console": 2,
        "no-unused-vars" : 1,
        "no-undef" : 2,
        "no-mixed-spaces-and-tabs" : 1
  }
}